<div class="pure-menu">
    <a class="pure-menu-heading" href="#">Super Dispensa</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href='lista' class='pure-menu-link'>In scadenza</a></li>
        <li class="pure-menu-item"><a href='inserisci' class='pure-menu-link'>Inserisci prodotti</a></li>
    </ul>
</div>